html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map circle, 
.legend > div::before {
  --color-departures: red;
  --color-arrivals: blue;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
  fill-opacity: 60%;
  stroke: white;
  pointer-events: auto;
}

header {
  display: flex;
  align-items: baseline;
  gap: 1em;
  padding: 1em;

  h1 {
    margin: 0;
  }
  label {
    margin-left: 44em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.9em;
  }
}

#time-slider {
  width: 300px;
  margin-top: 0.5em;
}

#selected-time,
#any-time {
  display: block;
  margin-top: 0.25em;
}

#any-time {
  color: #666;
  font-style: italic;
}

.legend {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-block: 1em;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.legend-label {
  font-weight: bold;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.legend > div::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: var(--color);
  flex-shrink: 0;
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.legend > div span {
  color: #222;
}